<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="fakultet">Fakultet:</label>
        <input type="text" id="fakultet" name="fakultet"><br><br>
        <label for="guruh">Guruh:</label>
        <input type="text" id="guruh" name="guruh"><br><br>
        <label for="fish">FIO ni kirit:</label>
        <input type="text" id="fish" name="fish"><br><br>
        <label for="sabab">Sabab:</label>
        <input type="text" id="sabab" name="sabab"><br><br>
        <input type="submit" value="Yuborish">
       
      </form>
</body>
</html>